In [271]:
import pandas as pd

In [272]:
df = pd.read_csv("student-mat.csv", sep=";")

In [273]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [274]:
df.loc[df.school == "GP",'school'] = -1
df.loc[df.school == "MS",'school'] = 1
df.loc[df.sex == "F",'sex'] = -1
df.loc[df.sex == "M",'sex'] = 1
df.loc[df.address == "U",'address'] = -1
df.loc[df.address == "R",'address'] = 1
df.loc[df.famsize == "LE3",'famsize'] = -1
df.loc[df.famsize == "GT3",'famsize'] = 1
df.loc[df.Pstatus == "A",'Pstatus'] = -1
df.loc[df.Pstatus == "T",'Pstatus'] = 1
df.loc[df.Mjob == "teacher",'Mjob'] = 1
df.loc[df.Mjob == "health",'Mjob'] = 2
df.loc[df.Mjob == "at_home",'Mjob'] = 3
df.loc[df.Mjob == "services",'Mjob'] = 4
df.loc[df.Mjob == "other",'Mjob'] = 5
df.loc[df.Fjob == "teacher",'Fjob'] = 1
df.loc[df.Fjob == "health",'Fjob'] = 2
df.loc[df.Fjob == "at_home",'Fjob'] = 3
df.loc[df.Fjob == "services",'Fjob'] = 4
df.loc[df.Fjob == "other",'Fjob'] = 5
df.loc[df.reason == "home",'reason'] = 1
df.loc[df.reason == "reputation",'reason'] = 2
df.loc[df.reason == "course",'reason'] = 3
df.loc[df.reason == "other",'reason'] = 4
df.loc[df.guardian == "mother",'guardian'] = 1
df.loc[df.guardian == "father",'guardian'] = 2
df.loc[df.guardian == "other",'guardian'] = 3
df.loc[df.schoolsup == "yes",'schoolsup'] = 1
df.loc[df.schoolsup == "no",'schoolsup'] = 2
df.loc[df.famsup == "yes",'famsup'] = -1
df.loc[df.famsup == "no",'famsup'] = 1
df.loc[df.paid == "yes",'paid'] = -1
df.loc[df.paid == "no",'paid'] = 1
df.loc[df.activities == "yes",'activities'] = -1
df.loc[df.activities == "no",'activities'] = 1
df.loc[df.nursery == "yes",'nursery'] = -1
df.loc[df.nursery == "no",'nursery'] = 1
df.loc[df.higher == "yes",'higher'] = -1
df.loc[df.higher == "no",'higher'] = 1
df.loc[df.internet == "yes",'internet'] = -1
df.loc[df.internet == "no",'internet'] = 1
df.loc[df.romantic == "yes",'romantic'] = -1
df.loc[df.romantic == "no",'romantic'] = 1

In [275]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,-1,-1,18,-1,1,-1,4,4,3,1,...,4,3,4,1,1,3,6,5,6,6
1,-1,-1,17,-1,1,1,1,1,3,5,...,5,3,3,1,1,3,4,5,5,6
2,-1,-1,15,-1,-1,1,1,1,3,5,...,4,3,2,2,3,3,10,7,8,10
3,-1,-1,15,-1,1,1,4,2,2,4,...,3,2,2,1,1,5,2,15,14,15
4,-1,-1,16,-1,1,1,3,3,5,5,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,-1,-1,-1,2,2,4,4,...,5,5,4,4,5,4,11,9,9,9
391,1,1,17,-1,-1,1,3,1,4,4,...,2,4,5,3,4,2,3,14,16,16
392,1,1,21,1,1,1,1,1,5,5,...,5,5,3,3,3,3,3,10,8,7
393,1,1,18,1,-1,1,3,2,4,5,...,4,4,1,3,4,5,0,11,12,10
394,1,1,19,-1,-1,1,1,1,5,3,...,3,2,3,3,3,5,5,8,9,9

In [276]:
df.loc[df.G3 < 10 ,"G3"] = -1 #reprovado
df.loc[df.G3 >= 10 ,"G3"] = 1 #aprovado

df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,-1,-1,18,-1,1,-1,4,4,3,1,...,4,3,4,1,1,3,6,5,6,-1
1,-1,-1,17,-1,1,1,1,1,3,5,...,5,3,3,1,1,3,4,5,5,-1
2,-1,-1,15,-1,-1,1,1,1,3,5,...,4,3,2,2,3,3,10,7,8,1
3,-1,-1,15,-1,1,1,4,2,2,4,...,3,2,2,1,1,5,2,15,14,1
4,-1,-1,16,-1,1,1,3,3,5,5,...,4,3,2,1,2,5,4,6,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,-1,-1,-1,2,2,4,4,...,5,5,4,4,5,4,11,9,9,-1
391,1,1,17,-1,-1,1,3,1,4,4,...,2,4,5,3,4,2,3,14,16,1
392,1,1,21,1,1,1,1,1,5,5,...,5,5,3,3,3,3,3,10,8,-1
393,1,1,18,1,-1,1,3,2,4,5,...,4,4,1,3,4,5,0,11,12,1
394,1,1,19,-1,-1,1,1,1,5,3,...,3,2,3,3,3,5,5,8,9,-1

In [277]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

In [278]:
def mediaAmostral(accuracyArray):
    return np.mean(accuracyArray)

In [279]:
def desvioPadraoAmostral(accuracyArray):
    return np.std(accuracyArray, ddof = 1)

In [280]:
def intervaloConfiancaTaxaAcerto(accuracy):
    #media - 1,96 x desvioPadrao ; media  + 1,96 x desvioPadrao
    media = mediaAmostral(accuracy)
    desvio = desvioPadraoAmostral(accuracy)

    print("Intervalo taxa de acerto [{0:.2f};{1:.2f}]".format((media - 1.96 * desvio), (media + 1.96 * desvio)))

In [281]:
x = df[df.columns[:-1:]] 
y = df[df.columns[32]]

In [282]:
accuracy = []

In [283]:
for i in range(100):
    treinoX, testeX, treinoY, testeY = train_test_split(x,y,test_size=0.50)
    knn = KNeighborsClassifier(n_neighbors=1, weights= "distance",metric="euclidean")
    knn.fit(treinoX,treinoY)
    y_pred = knn.predict(testeX)
    y_true = testeY
    #print(accuracy_score(y_true,y_pred))
    accuracy.append(accuracy_score(y_true,y_pred))

In [284]:
intervaloConfiancaTaxaAcerto(accuracy)

Intervalo taxa de acerto [0.80;0.88]